.mailbox-pane {
    border-bottom: 1px solid black;
    border-radius: 2px;
}

.mailbox {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-position: inside;
}

.mailbox-list-item,
.mailbox-list-header {
    display: block;
    padding: 0 15px;
}

.mailbox-list-item {
    transition: background .25s;
}

.mailbox-list-item:hover{
    background: rgba(225, 225, 225, 0.5);
}

.mailbox-list-header {
    font-weight: 600;
}

.mailbox-list-item.is-selected {
    color: dodgerblue;
}

.mailbox-list-item > span,
.mailbox-list-header > span {
    display: inline-block;
    padding: 5px;
}

.mailbox-list-header:first-child {
    margin-top: 10px;
}

.mailbox-list-item:last-child {
    margin-bottom: 10px;
}

.mailbox-list-item .date-sent,
.mailbox-list-header .date-sent{
    width: 15%;
}
.mailbox-list-item .recipient,
.mailbox-list-item .sender,
.mailbox-list-header .recipient,
.mailbox-list-header .sender {
    border-right: 1px solid black;
    width: 24%;
}
.mailbox-list-item .subject,
.mailbox-list-header .subject{
    width: 50%;
    border-right: 1px solid black;
}