<section class="mailbox">

  <mailbox-controls></mailbox-controls>

  <ol class="mailbox-list">
    <li class="mailbox-list-header">
      <span class="recipient" *ngIf="outboxActive()">To</span>
      <span class="sender" *ngIf="inboxActive()">From</span>
      <span class="subject">Subject</span>
      <span class="date-sent">Date</span>
    </li>

    <li class="mailbox-list-item" *ngFor="let message of messages">
      <span class="recipient" *ngIf="outboxActive()">{{message.recipient}}</span>
      <span class="sender" *ngIf="inboxActive()">{{message.sender}}</span>
      <span class="subject">{{message.subject}}</span>
      <span class="date-sent">{{message.dateSent}}</span>
    </li>
  </ol>

</section>
